encryption = "age"
[age]
    identity = "~/key.txt"
    recipient = "age10vvkck7g35z3ycuasyg9f45z3flg2dvxhmp7q5neum97u5r8ky9sk4es6c"

[data]
name = "Martin Klimeš"
email = "k11m1@k11m1.eu"
fiemail = "xklimes5@fi.muni.cz"
