include "%L"

# GREEK CAPITAL LETTERS
<Multi_key> <G> <A> : "Α"    U0391    # GREEK CAPITAL LETTER ALPHA
<Multi_key> <G> <B> : "Β"    U0392    # GREEK CAPITAL LETTER BETA
<Multi_key> <G> <G> : "Γ"    U0393    # GREEK CAPITAL LETTER GAMMA
<Multi_key> <G> <D> : "Δ"    U0394    # GREEK CAPITAL LETTER DELTA
<Multi_key> <G> <E> : "Ε"    U0395    # GREEK CAPITAL LETTER EPSILON
<Multi_key> <G> <Z> : "Ζ"    U0396    # GREEK CAPITAL LETTER ZETA
<Multi_key> <G> <H> : "Η"    U0397    # GREEK CAPITAL LETTER ETA
<Multi_key> <G> <I> : "Ι"    U0399    # GREEK CAPITAL LETTER IOTA
<Multi_key> <G> <K> : "Κ"    U039A    # GREEK CAPITAL LETTER KAPPA
<Multi_key> <G> <L> : "Λ"    U039B    # GREEK CAPITAL LETTER LAMDA
<Multi_key> <G> <M> : "Μ"    U039C    # GREEK CAPITAL LETTER MU
<Multi_key> <G> <N> : "Ν"    U039D    # GREEK CAPITAL LETTER NU
<Multi_key> <G> <P> : "Π"    U03A0    # GREEK CAPITAL LETTER PI
<Multi_key> <G> <R> : "Ρ"    U03A1    # GREEK CAPITAL LETTER RHO
<Multi_key> <G> <S> : "Σ"    U03A3    # GREEK CAPITAL LETTER SIGMA
<Multi_key> <G> <T> : "Τ"    U03A4    # GREEK CAPITAL LETTER TAU
<Multi_key> <G> <U> : "Υ"    U03A5    # GREEK CAPITAL LETTER UPSILON
<Multi_key> <G> <F> : "Φ"    U03A6    # GREEK CAPITAL LETTER PHI
<Multi_key> <G> <X> : "Χ"    U03A7    # GREEK CAPITAL LETTER CHI
<Multi_key> <G> <O> : "Ω"    U03A9    # GREEK CAPITAL LETTER OMEGA

# DOUBLES (additional stroke <Q>)
<Multi_key> <G> <Q> <T> : "Θ"    U0398    # GREEK CAPITAL LETTER THETA
<Multi_key> <G> <Q> <O> : "Ο"    U039F    # GREEK CAPITAL LETTER OMICRON
<Multi_key> <G> <Q> <X> : "Ξ"    U039E    # GREEK CAPITAL LETTER XI
<Multi_key> <G> <Q> <P> : "Ψ"    U03A8    # GREEK CAPITAL LETTER PSI

# greek small letters
<Multi_key> <g> <a> : "α"    U03B1    # GREEK SMALL LETTER ALPHA
<Multi_key> <g> <b> : "β"    U03B2    # GREEK SMALL LETTER BETA
<Multi_key> <g> <g> : "γ"    U03B3    # GREEK SMALL LETTER GAMMA
<Multi_key> <g> <d> : "δ"    U03B4    # GREEK SMALL LETTER DELTA
<Multi_key> <g> <e> : "ε"    U03B5    # GREEK SMALL LETTER EPSILON
<Multi_key> <g> <z> : "ζ"    U03B6    # GREEK SMALL LETTER ZETA
<Multi_key> <g> <h> : "η"    U03B7    # GREEK SMALL LETTER ETA
<Multi_key> <g> <i> : "ι"    U03B9    # GREEK SMALL LETTER IOTA
<Multi_key> <g> <k> : "κ"    U03BA    # GREEK SMALL LETTER KAPPA
<Multi_key> <g> <l> : "λ"    U03BB    # GREEK SMALL LETTER LAMDA
<Multi_key> <g> <m> : "μ"    U03BC    # GREEK SMALL LETTER MU
<Multi_key> <g> <n> : "ν"    U03BD    # GREEK SMALL LETTER NU
<Multi_key> <g> <p> : "π"    U03C0    # GREEK SMALL LETTER PI
<Multi_key> <g> <r> : "ρ"    U03C1    # GREEK SMALL LETTER RHO
<Multi_key> <g> <s> : "σ"    U03C3    # GREEK SMALL LETTER SIGMA
<Multi_key> <g> <t> : "τ"    U03C4    # GREEK SMALL LETTER TAU
<Multi_key> <g> <u> : "υ"    U03C5    # GREEK SMALL LETTER UPSILON
<Multi_key> <g> <f> : "φ"    U03C6    # GREEK SMALL LETTER PHI
<Multi_key> <g> <x> : "χ"    U03C7    # GREEK SMALL LETTER CHI
<Multi_key> <g> <o> : "ω"    U03C9    # GREEK SMALL LETTER OMEGA

# doubles (additional stroke <q>)
<Multi_key> <g> <q> <t> : "θ"    U03B8    # GREEK SMALL LETTER THETA
<Multi_key> <g> <q> <o> : "ο"    U03BF    # GREEK SMALL LETTER OMICRON
<Multi_key> <g> <q> <p> : "ψ"    U03C8    # GREEK SMALL LETTER PSI
<Multi_key> <g> <q> <s> : "ς"    U03C2    # GREEK SMALL LETTER FINAL SIGMA
<Multi_key> <g> <q> <x> : "ξ"    U03BE    # GREEK SMALL LETTER XI

# variants (prefix <g> <v>)
<Multi_key> <g> <v> <b>     :   "ϐ" U03D0    # GREEK BETA SYMBOL
<Multi_key> <g> <v> <e>     :   "ϵ" U03F5    # GREEK LUNATE EPSILON SYMBOL
<Multi_key> <g> <v> <h>     :   "ͱ" U0371    # GREEK SMALL LETTER HETA
<Multi_key> <g> <v> <t> <h> :   "ϑ" U03D1    # GREEK THETA SYMBOL
<Multi_key> <g> <v> <k>     :   "ϰ" U03F0    # GREEK KAPPA SYMBOL
<Multi_key> <g> <v> <l>     :   "ᴧ" U1D27    # GREEK LETTER SMALL CAPITAL LAMDA
<Multi_key> <g> <v> <p> <i> :   "ϖ" U03D6    # GREEK PI SYMBOL
<Multi_key> <g> <v> <U>     :   "ϒ" U03D2    # GREEK UPSILON WITH HOOK SYMBOL
<Multi_key> <g> <v> <p> <h> :   "ϕ" U03D5    # GREEK PHI SYMBOL
<Multi_key> <g> <v> <c>     :   "☧" U2627    # CHI RHO
<Multi_key> <g> <v> <p> <s> :   "ᴪ" U1D2A    # GREEK LETTER SMALL CAPITAL PSI

# Math symbols
<Multi_key> <asciicircum> <plus>        :   "⁺"     U207A   # SUPERSCRIPT PLUS
<Multi_key> <asciicircum> <minus>       :   "⁻"     U207B   # SUPERSCRIPT MINUS
<Multi_key> <plus> <minus>              :   "±"     U00B1   # PLUS-MINUS SIGN
<Multi_key> <asciitilde> <asciitilde>   :   "≈"     U2248   # ALMOST EQUAL TO
<Multi_key> <Multi_key> <n> <o> <t>     :   "¬"     U00AC   # NOT SIGN
<Multi_key> <dollar> <exclam>           :   "¬"     U00AC   # NOT SIGN
<Multi_key> <asciitilde> <asciitilde>   :   "≈" U2248    # ALMOST EQUAL TO

<Multi_key> <bar> <equal>                       :   "⊨" U22A8    # TRUE
<Multi_key> <Multi_key> <p> <r> <o> <v> <e>     :   "⊨" U22A8    # TRUE

# Arrows
# ←↓→ are available directly
<Multi_key> <less> <bar>    :   "↑" U2191    # UPWARDS ARROW
<Multi_key> <bar> <greater> :   "↓" U2193    # DOWNWARDS ARROW
<Multi_key> <plus> <minus>  :   "±" U00B1    # PLUS-MINUS SIGN

# Punctuations
#<Multi_key> <equals> <greater> : "‣" U2023   # TRIANGULAR BULLET

<Multi_key> <dollar> <less>         : "⟨" U27E8 # MATHEMATICAL LEFT ANGLE BRACKET
<Multi_key> <dollar> <greater>      : "⟩" U27E9 # MATHEMATICAL RIGHT ANGLE BRACKET

<Multi_key> <dollar> <bracketleft>  : "⟦" U27E6 # MATHEMATICAL LEFT WHITE SQUARE BRACKET
<Multi_key> <dollar> <bracketright> : "⟧" U27E7 # MATHEMATICAL RIGHT WHITE SQUARE BRACKET

<Multi_key> <dollar> <parenleft>    : "⟮" U27EE # MATHEMATICAL LEFT FLATTENED PARENTHESIS
<Multi_key> <dollar> <parenright>   : "⟯" U27EE # MATHEMATICAL RIGHT FLATTENED PARENTHESIS

<Multi_key> <dollar> <dollar> <less>    : "⟪" U27EA # MATHEMATICAL LEFT DOUBLE ANGLE BRACKET
<Multi_key> <dollar> <dollar> <greater> : "⟫" U27EB # MATHEMATICAL RIGHT DOUBLE ANGLE BRACKET

<Multi_key> <bracketleft> <less>        : "⟬" U27EC # MATHEMATICAL LEFT WHITE TORTOISE SHELL BRACKET
<Multi_key> <bracketright> <greater>    : "⟭" U27ED # MATHEMATICAL RIGHT WHITE TORTOISE SHELL BRACKET

<Multi_key> <dollar> <slash> <parenleft>  : "⧼" U29FC # LEFT-POINTING CURVED ANGLE BRACKET
<Multi_key> <dollar> <slash> <parenright> : "⧽" U29FD # RIGHT-POINTING CURVED ANGLE BRACKET

<Multi_key> <dollar> <period> <parenleft>  : "⦑" U2991 # LEFT ANGLE BRACKET WITH DOT
<Multi_key> <dollar> <period> <parenright> : "⦒" U2992 # RIGHT ANGLE BRACKET WITH DOT

<Multi_key> <dollar> <O> : "𝒪" U1D4AA # MATHEMATICAL SCRIPT CAPITAL O

<Multi_key> <slash> <y>     : "✔" U2714 # HEAVY CHECK MARK
<Multi_key> <slash> <x>     : "✘" U2718 # HEAVY BALLOT X

<Multi_key> <o> <k>  : "✔" U2714 # HEAVY CHECK MARK
<Multi_key> <n> <o> <k>  : "✘" U2718 # HEAVY BALLOT X

# Emoji
<Multi_key> <dollar> <w> <i> <n> <k> :   "( ͡° ͜ʖ ͡°)" # wink
<Multi_key> <dollar> <s> <h> <r> <u> <g> : "¯\\_(ツ)_/¯" # shrug
<Multi_key> <dollar> <i> <d> <k> : "¯\\(°_o)/¯" # idk
<Multi_key> <dollar> <w> <t> <f> : "ಠ_ಠ" #wtf
<Multi_key> <dollar> <c> <o> <n> : "(☉_☉)" # confused

<Multi_key> <s> <f> : "¯\\_(ツ)_/¯" # shrug  
<Multi_key> <g> <i> <t> : "git commit --author 'Martin Klimeš <{{ .fiemail }}>' --verbose "
<Multi_key> <d> <u> <e> : "📅" # due date signifier 📅
