[user]
	email = xklimes5@fi.muni.cz
	name = Martin Klimeš
	signingkey = B187FDC8CC7A96FA6FD0B5E3DA0A5620ED11B815
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	autocrlf = input
[init]
	defaultBranch = main
[alias]
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
    pr = !sh -c 'git fetch $1 pull/$2/head:pr-$1-$2 && git checkout pr-$1-$2' -
[merge]
    conflictstyle = diff3
#[remote "origin"]
#    # github, pagure
#    fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
#    # gitlab
#    fetch = +refs/merge-requests/*/head:refs/remotes/origin/mr/*
#    tagOpt = --tags
#[remote "upstream"]
#    # github, pagure
#    fetch = +refs/pull/*/head:refs/remotes/upstream/pr/*
#    # gitlab
#    fetch = +refs/merge-requests/*/head:refs/remotes/upstream/mr/*
#    tagOpt = --tags
[credential]
	helper = cache
