#!/bin/sh

if [ ! -f "{{ .chezmoi.homeDir }}/key.txt" ]; then
    age --decrypt --output "{{ .chezmoi.homeDir }}/key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "{{ .chezmoi.homeDir }}/key.txt"
fi
