[general]
status_path = "~/.vdirsyncer/status/"

[pair calendars]
conflict_resolution = "b wins"
a = "calendars_local"
b = "calendars_dav"
collections = ["from b"]
metadata = ["color", "displayname"]

[storage calendars_local]
type = "filesystem"
path = "~/.calendars/"
fileext = ".ics"

[storage calendars_dav]
type = "caldav"

# We can simplify this URL here as well. In theory it shouldn't matter.
url = "{{ keyring "caldav" "url" }}"
username = "{{ (keyring "caldav" "user" }}"
password = "{{ (keyring "caldav" "pass").Password }}"
